.App {
  height: 100vh;
  width: var(--app-width);
  max-width: 100vw;
  background-color: white;
  padding: 0 4px;
  border-radius: 4px;
}

.App .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  height: 70px;
}
.App .header div {
  padding: 4px 8px;
}

.App .header .screen-head {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  align-content: center;
}

.App .header .screen-head .title .status {
  font-size: 12px;
}

.App .screen {
  position: relative;
  height: 90%;
}
